@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@300&family=Roboto:wght@300;400&display=swap');
@import './variables.module.scss';

$navbarHeight: 60px;

/*
 * General
 */
body {
	background-color: $backgroundColor;
}

.link {
  color: $secondaryColor;
	transition: 0.2s;
}

.link:hover {
   color: darken($color: $secondaryColor, $amount: 15); 
}

.App {
	font-family: 'Roboto', sans-serif;
}

.register {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding-top: $navbarHeight;
	background-image: url(./images/hills.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: auto 70%; 
}

.register-card {
	border-top: 5px solid $primaryColor;
	width: 90%;
	max-width: 450px;
}

.register-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.navbar {
	z-index: 1000;
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	padding: 10px;
	color: #a099e7;
	width: 100%;
	font-family: "Quicksand", sans-serif;
}

.register-password-icon {
	font-variation-settings: "wght" 200, "opsz" 24;
}

.navbar-icon {
	font-variation-settings: "wght" 200;
	margin: 5px;
}

